body{
    display: flex;
    background-image: url("https://wallpapercrafter.com/desktop/162577-nature-landscape-pixel-art-pixelated-pixels-mountains-Wavestormed-trees-snowy-peak-forest-lake-grass-hill-reflection-pine-trees-sunset-clear-sky.png");
    align-items: center;
    margin-top: 30vh;
    margin-left: 40%;
}
